.column1 {
  float: left;
  width: 24%;
  background-color: green;
}

.column1 p {
  font-weight: 800;
}

.column2 {
  float: left;
  width: 24%;
  background-color: yellow;
}

.column2 p {
  font-weight: 400;
}

.column3 {
  float: left;
  width: 24%;
  background-color: blue;
}

.column3 p {
  color: rgb(190, 190, 190)
}

.column4 {
  float: left;
  width: 24%;
  background-color: red;
}

.column4 p {
  color: white
}

.italic {
  font-style: italic;
}

.column4 p a {
  background-color: yellow;
  color: rgb(2, 2, 68);
}

.row {
  height: 600px;
}

.row2 ul {
  font-style: italic
}